@model TechInvMgmt.Models.Part

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Part</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartIsSerialized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartIsSerialized)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
