@model IEnumerable<TechInvMgmt.Models.Part>

@{
    ViewData["Title"] = "Index";
}




<div class="nav justify-content-center">
    @if (User.Identity.IsAuthenticated && User.IsInRole("ISP"))
    {
        <div>
            <a class="text-dark" asp-controller="Parts" asp-action="Create">
                <div class="btn btn-outline-success btn-sm">
                    <img class="nav-icon" src="~/img/Add.png" /> Add
                </div>
            </a>
        </div>
    }
    <div style="width: 100%; text-align:center;">
        <h1 id="header">Parts</h1>
    </div>

</div>





<table id="tableOfStuff" class="display compact cell-border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartIsSerialized)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a class="btn btn-warning btn-sm text-dark" asp-action="Edit" asp-route-id="@item.PartId">
                    @Html.DisplayFor(modelItem => item.PartId)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartCategory)
            </td>
            <td>
                @if (item.PartIsSerialized == true)
                {
                    <div>Yes</div>
                }
                else
                {
                    <div>No</div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>