@model TechInvMgmt.Models.Inventory
@inject TechInvMgmt.Data.ApplicationDbContext context

@{
    ViewData["Title"] = "Create";
    List<Part> parts = await TechInvMgmt.Data.PartDb.GetPartsAsync(context);
    List<Subinventory> subinventories = await TechInvMgmt.Data.SubinventoryDb.GetSubinvParts(context);
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">@TempData["Message"]<a asp-action="Index" asp-controller="Inventory">go to your Subinventory.</a></div>
}
<div class="justify-content-center" style="width:100%; text-align:center;">
    <h1>New</h1>
    <h4>Inventory</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SubinventoryId" class="control-label"></label>
                    <select asp-for="SubinventoryId" class="searchDropdown" id="selectSubinv" style="width:100%;">
                        <option selected disabled>Select Subinventory</option>
                        @foreach (Subinventory s in subinventories)
                        {
                            <option value="@s.SubinventoryId">@s.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="SubinventoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PartId" class="control-label"></label>
                    <select asp-for="PartId" class="searchDropdown" id="selectPartId" style="width:100%;">
                        <option selected disabled>Select Part</option>
                        @foreach (Part p in parts)
                        {
                            <option value="@p.PartId">@p.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="PartId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" style="text-align:center;opacity:0.85;" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group" >
                    <label asp-for="InventoryId" class="control-label"></label>
                    <input asp-for="InventoryId" class="form-control" id="invId" />
                    <span asp-validation-for="InventoryId" class="text-danger"></span>
                </div>
                <div >
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="form-group" style="background-color: lightseagreen; padding: 5px; margin: 10px auto; width: fit-content; border: 1px solid black; border-radius: 40px;">
        <a class="hvr-backward" asp-action="Index"><img src="~/img/LeftArrow.png" style="height:50px;" /></a>
    </div>
</div>
<script>
    // Auto-populate Subinventory input field w/ user's
    var subinv = document.getElementById("getSubInv").innerHTML;
    if (subinv != null || subinv != "" || subinv != "ISP" || subinv != "FSM") {
        document.getElementById("selectSubinv").value = subinv;
    }
    

    document.getElementById("selectPartId").onchange = function () {
        document.getElementById("invId").value = document.getElementById("selectSubinv").value + document.getElementById("selectPartId").value;
    };
    document.getElementById("selectSubinv").onchange = function () {
        document.getElementById("invId").value = document.getElementById("selectSubinv").value + document.getElementById("selectPartId").value;
    };

</script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
