@model TechInvMgmt.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubinventoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubinventoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InventoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
