@model TechInvMgmt.Models.Inventory
@inject TechInvMgmt.Data.ApplicationDbContext _context
@{
    Part part = await _context.Parts.FindAsync(Model.PartId);
    var serialNumbers = await TechInvMgmt.Data.SerialNumberDb.GetSNById(Model.InventoryId, _context);
    ViewData["Title"] = "Edit";
}

<div class="justify-content-center" style="width:100%; text-align:center;">

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">@TempData["Message"]</div>
    }

    <h1>@Model.SubinventoryId</h1>
    <h4>@part.PartName</h4>
    <h5>@part.PartId</h5>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InventoryId" />
                <div class="form-group" hidden>
                    <label asp-for="SubinventoryId" class="control-label"></label>
                    <input asp-for="SubinventoryId" class="form-control" />
                    <span asp-validation-for="SubinventoryId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="PartId" class="control-label"></label>
                    <input asp-for="PartId" class="form-control" id="partNumInput" />
                    <span asp-validation-for="PartId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" style="text-align:center;opacity:0.85;" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div style="padding-bottom:15px;">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg hvr-glow" style="width:45%;" />
                    @if (User.IsInRole("ISP"))
                    {
                        <a class="btn btn-danger btn-lg hvr-glow" style="width:45%;" asp-action="Delete" asp-route-id="@Model.InventoryId">Delete</a>
                    }
                </div>

                @if (part.PartIsSerialized)
                {
                    <div class="form-group">
                        <div style="width:100%; padding-top:15px;">
                            <h5 class="control-label">Serial Numbers</h5>
                            <ul class="list-group" style="list-style-type:none;background-color: white;opacity: 0.85;">
                                @foreach (SerialNumber sn in serialNumbers)
                                {
                                    <li style="list-style-type:none;"><a class="btn btn-sm text-dark hvr-wobble-skew" asp-action="Edit" asp-controller="SerialNumbers" asp-route-id="@sn.SerialNumberId" style="width:100%; font-size:15px;"><img class="nav-icon" src="~/img/Barcode.png" /> @sn.ToString() <img class="nav-icon" src="~/img/Barcode.png" /></a></li>
                                }
                            </ul>
                        </div>
                        <div style="padding:10px;">
                            @if (serialNumbers.Count == 0 && Model.Quantity > 0)
                            {
                                <p style="color:red;">There are no @part.PartName serial numbers assigned to @Model.SubinventoryId</p>
                                <h6 style="color:red;">You need to add @TechInvMgmt.Data.InventoryDb.GetNumOfSNsNeeded(Model.Quantity, serialNumbers.Count) more serial numbers.</h6>
                            }
                            else if (serialNumbers.Count < Model.Quantity)
                            {
                                <h6 style="color:red;">You need to add @TechInvMgmt.Data.InventoryDb.GetNumOfSNsNeeded(Model.Quantity, serialNumbers.Count) more serial numbers.</h6>
                            }
                        </div>
                        <a class="btn btn-warning" asp-action="Create" asp-controller="SerialNumbers" asp-route-id="@Model.SubinventoryId@Model.PartId" style="width:100%;">Add Serial Numbers</a>
                    </div>
                }
            
                
                <div class="form-group" hidden>
                    <label asp-for="InventoryId" class="control-label"></label>
                    <input asp-for="InventoryId" class="form-control" />
                    <span asp-validation-for="InventoryId" class="text-danger"></span>
                </div>

            </form>
        </div>
    </div>

    <div class="form-group" style="background-color:lightseagreen;padding:5px;margin:auto;width:fit-content;border: 1px solid black;border-radius:40px;">
        <a class="hvr-backward" asp-action="Index"><img src="~/img/LeftArrow.png" style="height:50px;" /></a>
    </div>

</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
