@model TechInvMgmt.Models.Employee
@inject TechInvMgmt.Data.ApplicationDbContext context
@{
    ViewData["Title"] = "Edit";
    List<Subinventory> subinventories = await TechInvMgmt.Data.SubinventoryDb.GetSubinvParts(context);
}



<div class="justify-content-center" style="width:100%; text-align:center;">
    <h1>@Model.FirstName @Model.LastName</h1>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group employeeColor">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" style="text-align:center;opacity:0.85;" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group employeeColor">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" style="text-align:center;opacity:0.85;" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group employeeColor">
                    <label asp-for="SubinventoryId" class="control-label"></label>
                    <select asp-for="SubinventoryId" class="searchDropdown" id="selectSubinv" style="width:100%;">
                        <option selected disabled>Select Subinventory</option>
                        <option>NONE</option>
                        @foreach (Subinventory s in subinventories)
                        {
                            <option value="@s.SubinventoryId">@s.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="SubinventoryId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="AccountType"></label><br />
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width:100%;flex-flow: wrap;">
                        <label class="btn text-light" onclick="hideSubinvSectionForISP()" style="background-color:#93b7be;">
                            <input asp-for="AccountType" value="ISP" class="form-control" type="radio" autocomplete="off">ISP
                        </label>
                        <label class="btn text-light" onclick="hideSubinvSectionForFSM()" style="background-color:#a799b7;">
                            <input asp-for="AccountType" value="FSM" class="form-control" type="radio" autocomplete="off">FSM
                        </label>
                        <label class="btn text-light" onclick="showSubinvSection()" style="background-color:#d36135;">
                            <input asp-for="AccountType" value="Tech" class="form-control" type="radio" autocomplete="off" id="techBtn">Tech
                        </label>
                    </div>
                    <br />
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                </div>
                <div>
                    <a class="hvr-icon-back hvr-shadow" style="width:7rem;height:5rem;border-radius:12px;border: 1px solid #000000;background-color:#f0ad4e;" asp-action="Index"><img class="fa fa-chevron-circle-left hvr-icon" src="/img/Back.png" style="height:5rem;" /></a>
                    <input type="submit" value="Save" class="btn btn-lg hvr-shadow" style="width:7rem;height:5rem;border-radius:12px;border: 1px solid #000000;background-color:#709e6f;color: white;" />
                    <a class="btn btn-danger btn-lg hvr-shadow" asp-action="Delete" asp-route-id="@Model.Id" style="width: 7rem; border-radius: 12px; border: 1px solid #000000;background-color:#c36b57;height: 5rem;">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.body.style.backgroundImage = "url(/img/CementFloorbg.jpg)";
    document.body.style.backgroundPosition = "center";
    document.body.style.backgroundSize = "cover";
    var subinvSection = document.getElementById("subinvSection");
    function showSubinvSection() {
        subinvSection.hidden = false;
        document.getElementById("subinvInput").value = "REMVAN";
        console.log(subinvSection.hidden);
    }
    function hideSubinvSectionForISP() {
        subinvSection.hidden = true;
        document.getElementById("subinvInput").value = "ISP";
        console.log(subinvSection.hidden);
    }
    function hideSubinvSectionForFSM() {
        subinvSection.hidden = true;
        document.getElementById("subinvInput").value = "FSM";
        console.log(subinvSection.hidden);
    }
</script>