@model IEnumerable<TechInvMgmt.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}


<div class="nav justify-content-center">
    <div style="width: 100%; text-align:center;">
        <h1 id="header">Employees</h1>
    </div>
</div>


<table id="tableOfStuff" class="display compact cell-border hover" style="text-align:center;">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubinventoryId)
            </th>
            <th>
                AccountType
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="hvr-forward">
                <td>
                    <a class="btn" asp-action="Edit" asp-controller="Employees" asp-route-id="@item.Id" style="width:100%;">
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </a>
                </td>
                <td>
                    <a class="btn" asp-action="Edit" asp-controller="Employees" asp-route-id="@item.Id" style="width:100%;">
                        @Html.DisplayFor(modelItem => item.SubinventoryId)
                    </a>
                </td>
                <td>
                    @if (item.AccountType == "Tech")
                    {
                        <a class="btn" asp-action="Edit" asp-controller="Employees" asp-route-id="@item.Id" style="width:100%;">
                            <p>Tech</p>
                        </a>
                    }
                    else if (item.AccountType == "ISP")
                    {
                        <a class="btn" asp-action="Edit" asp-controller="Employees" asp-route-id="@item.Id" style="width:100%;">
                            <p>ISP</p>
                        </a>
                    }
                    else
                    {
                        <a class="btn" asp-action="Edit" asp-controller="Employees" asp-route-id="@item.Id" style="width:100%;">
                            <p>ADMIN</p>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

