@model IEnumerable<TechInvMgmt.Models.Subinventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-sm table-responsive-lg" id="tablesort">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subinv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTech)
            </th>
            <th data-sort-method='none'></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subinv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTech)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Subinv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Subinv">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Subinv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
