@model IEnumerable<TechInvMgmt.Models.Subinventory>
@inject TechInvMgmt.Data.ApplicationDbContext context
@{
    ViewData["Title"] = "Index";
    List<Employee> employees = await TechInvMgmt.Data.EmployeeDb.GetEmployeesAsync(context);
}
<div style="width: 100%; text-align:center;">
    <h1 id="header">Subinventories</h1>
</div>

<table id="tableOfStuff" class="display compact cell-border hover" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubinventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="hvr-forward">
                <td>
                    <a class="btn" asp-action="Edit" asp-route-id="@item.SubinventoryId" style="width:100%;">
                        @Html.DisplayFor(modelItem => item.SubinventoryId)
                    </a>
                </td>
                <td>
                    <a class="btn" asp-action="Edit" asp-route-id="@item.SubinventoryId" style="width:100%;">
                        @foreach (Employee e in employees)
                        {
                            if (item.EmployeeId == e.Id)
                            {
                                <p>@e.FirstName @e.LastName</p>
                            }
                        }
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
