@model IEnumerable<TechInvMgmt.Models.Subinventory>
@inject TechInvMgmt.Data.ApplicationDbContext context
@{
    ViewData["Title"] = "Index";
    List<Employee> employees = await TechInvMgmt.Data.EmployeeDb.GetEmployeesAsync(context);
}
<div style="width: 100%; text-align:center;">
    <h1 id="header">Subinventories</h1>
</div>

<table id="tableOfStuff" class="display compact cell-border hover" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubinventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="hvr-forward">
                <td style="background-color: #80558c;">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.SubinventoryId" style="width:100%;color: wheat;">
                        @Html.DisplayFor(modelItem => item.SubinventoryId)
                    </a>
                </td>
                <td style="background-color: #690707;">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.SubinventoryId" style="width:100%;color:wheat;">
                        @foreach (Employee e in employees)
                        {
                            if (item.SubinventoryId == e.SubinventoryId)
                            {
                                <div style="width:100%;display:inline-block;">@e.FirstName @e.LastName</div>
                            }
                        }
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    document.body.style.backgroundImage = "url(/img/Van09bg.jpg)";
    document.body.style.backgroundSize = "cover";
    document.body.style.backgroundPosition = "center";
</script>